.App {
  text-align: center;
  display:flex;
  background-color:#16181a;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   font-family: 'Lato', sans-serif;
   width:100%;
   height:100%;
}
 

.anime__card
{
  display:flex;
   justify-content: center;
  align-items: center;
  margin:5px;
   flex-direction: column;
  padding:20px;
  background: #0e1113;
  padding:1rem;
  color:white;
  border-radius:5px ;
}

.anime__image 
{
  width: 250px; 
  height: 250px;  
  object-fit: cover;
}
 
.anime__controls
{
  display:flex;
  margin:5px;
}
 .animes 
 {
   display:grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows:repeat(3,1fr);
   margin-top:4rem;
 }

 .anime__title
 {
   font-size: 1.6rem;
  background: -webkit-linear-gradient(rgb(116, 8, 179), rgb(240, 202, 35));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }


 @media only screen and (max-width: 450px) {
  .anime__title {
    font-size:.4rem;
   }
   .anime__card
{
  display:flex;
   justify-content: center;
  align-items: center;
  margin:.6rem;
   flex-direction: column;
   height:35vh;
  background: #0e1113;
  padding:1rem;
  color:white;
  border-radius:5px ;
}

.App 
{
  width:100%;
  height:100%;
}
 }
 @media only screen and (max-width: 800px) {
  .anime__title {
   font-size:1.2rem;
  }
  .App 
  {
     
    height:100%;
  }
  .animes 
  {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 35vh;

  }

  
.anime__image 
{
  width: 100px; 
  height: 100px;  
  object-fit: cover;
}
.animes 
{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows:repeat(2,1fr);
  margin-top:4rem;
  grid-gap:1.2rem;
}
}